header {
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;

	background-color: #0a020f;
	border-bottom: 1px solid #591683;

	.burger {
		padding: 6px 5px;
		border-radius: 3px;
		border: 1px solid transparent;
		transition: all 0.3s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			path {
				stroke: #fff;
			}
		}
		&:active {
			border: 1px solid #a888f9;
		}
	}
	.new-chat {
		padding: 3px;
		border-radius: 3px;
		border: 1px solid transparent;
		transition: all 0.3s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			path {
				fill: #fff;
			}
		}

		&:active {
			background-color: #a888f9d7;
		}
	}
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 99vh;

	.wrap {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}

	.burger-wrap {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: -9;
		transition: all 0.3s ease-in-out;

		&.hide {
			background-color: #0a020f;
			z-index: 999;
			opacity: 1;
			left: 0;
		}

		display: flex;
		flex-direction: column;
		gap: 20px;

		.close-btn {
			display: flex;
			padding: 10px 20px;
			justify-content: space-between;
			align-items: center;

			background-color: #1e072c;
			border-bottom: 1px solid #a888f9da;

			button {
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				border-radius: 4px;
				transition: all 0.3s ease-in-out;

				svg {
					path {
						fill: #fff;
					}
				}

				&:active {
					opacity: 0.5;
				}
			}
		}

		.burger-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 12px;
			height: 100%;

			.burger-menu {
				button {
					width: 100%;

					padding: 14px 20px;
					border: none;

					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 20px;

					background-color: #1e072c;
					font-size: 16px;
					font-weight: 500;
					text-align: left;
					text-transform: capitalize;
					border-radius: 8px;
					transition: all 0.3s ease-in-out;
					color: #fff;

					svg {
						path {
							fill: #fff;
						}
					}
					&:active {
						opacity: 0.6;
					}
				}
			}

			> ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 12px;
				width: 100%;

				> li {
					width: 90%;
					padding: 14px 16px;
					border-radius: 8px;
					background-color: #000000;
					color: #ffffff;

					font-size: 16px;
					font-weight: 500;

					transition: all 0.2s ease-in-out;
					opacity: 0.6;
					display: flex;
					align-items: center;
					gap: 8px;

					svg {
						path {
							fill: #fff;
						}
					}

					&:active {
						background-color: #180d33;
						opacity: 1;
					}

					&:nth-child(1) {
						background-color: #180d33;
						opacity: 1;
						color: #ffffff;
						font-weight: 600;
					}

					&:nth-child(5) {
						background-color: #180d33;
						opacity: 1;
						color: #000000;
						font-weight: 400;
						opacity: 0.9;
						color: #926eee;

						svg {
							path {
								stroke: #926eee;
								fill: transparent;
							}
						}
					}
				}
			}
		}
	}

	.chat-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 10px 0;
		> .hints {
			opacity: 0;
			z-index: -9;
			transition: all 0.2s ease-in-out;
			&.hide {
				opacity: 1;
				z-index: 9;
			}
			ul {
				display: flex;
				flex-direction: column;

				justify-content: flex-end;
				gap: 8px;
				list-style-type: none;
				margin: 0;
				padding: 0;
				width: 100%;

				> li {
					padding: 7px 12px;
					border-radius: 12px;
					border: 1px solid #e9e9e96e;

					display: flex;
					flex-direction: column;
					gap: 5px;
					transition: all 0.3s ease-in-out;

					&:active {
						background-color: #180d33;
					}

					> .title {
						font-size: 15px;
						font-weight: 600;
						color: #ffffff;
					}

					> .conent {
						font-size: 11px;
						font-weight: 500;
						color: #d8d8d8;
					}
				}
			}
		}

		> .messeges {
			position: absolute;
			bottom: 10px;
			width: 100%;
			display: flex;
			height: 90%;
			flex-direction: column;
			gap: 12px;
			z-index: 2;
			justify-content: flex-end;

			.gpt-message {
				padding: 10px 12px;
				background: rgb(18, 9, 32);
				border-radius: 6px;
				width: 85%;
				transition: all 0.3s ease-in-out;
				box-shadow: #180d33 0 0 20px;
			}
			.user-message {
				padding: 10px 12px;
				background: rgb(33, 15, 63);
				border-radius: 6px;
				width: 85%;
				box-shadow: #180d33 0 0 20px;
				transition: all 0.3s ease-in-out;
			}

			> ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				opacity: 0;
				display: flex;
				flex-direction: column;
				gap: 8px;
				z-index: -9;
				transition: all 0.2s ease-in-out;
				overflow-y: scroll;
				padding-right: 12px;

				&::-webkit-scrollbar {
					width: 7px; /* ширина scrollbar */
				}
				&::-webkit-scrollbar-track {
					background: rgba(24, 1, 23, 0.096); /* цвет дорожки */
					border-radius: 4px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #180d33; /* цвет плашки */
					border-radius: 20px; /* закругления плашки */
					border: none; /* padding вокруг плашки */
				}

				&.hide {
					opacity: 1;
					z-index: 99;
				}
			}
		}

		.gbt-version {
			.version {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 4px;
				width: 100%;
				.select {
					position: relative;
					width: 90%;
					transition: all 0.3s ease-in-out;

					.select__header {
						border: none;
						background-color: #1e072c;
						box-shadow: #180d33 0 0 20px;
						border-radius: 8px;
						cursor: pointer;
						display: flex;
						width: 100%;
						.select__current {
							font-size: 13px;
							font-weight: 400;
							line-height: 24px;
							padding: 8px;
							white-space: nowrap; /* Текст не переносится */
							overflow: hidden; /* Обрезаем всё за пределами блока */
							text-overflow: ellipsis;

							display: flex;
							align-items: center;
							gap: 5px;

							svg {
								path {
									fill: #fff;
								}
							}
						}
						.select__icon {
							align-items: center;
							display: flex;
							flex-shrink: 0;
							justify-content: center;
							height: 40px;
							margin-left: auto;
							text-align: center;
							width: 40px;
							opacity: 0.4;
							transform: rotate(-180deg);
							transition: all 0.3s ease-in-out;

							svg {
								path {
									fill: #fff;
								}
							}
						}
					}
					.select__body {
						border: none;
						border-radius: 4px;
						background-color: #1e072c;
						border-top: 0;
						opacity: 0;
						left: 0;
						position: absolute;
						right: 0;
						top: 110%;

						height: 0;
						overflow: hidden;

						box-shadow: 0px 4px 8px rgba(35, 5, 44, 0.2);
						border-radius: 4px;

						z-index: -9;
						transition: all 0.3s ease-in-out;

						.select__items {
							display: flex;
							flex-direction: column;
							gap: 8px;
							padding: 12px;

							.select__item {
								cursor: pointer;
								font-size: 12px;
								padding: 12px;
								border-radius: 6px;

								font-weight: 400;
								transition: all 0.3s ease-in-out;

								display: flex;
								align-items: center;
								gap: 5px;

								svg {
									path {
										stroke: #fff;
									}
								}

								&:active {
									background-color: #000000;
								}
							}
						}
					}
				}

				.select.is-active {
					.select__body {
						opacity: 1;
						transition: all 0.3s ease-in-out;
						height: auto;
						overflow: visible;
						z-index: 9;
					}

					.select__icon {
						opacity: 1;
						transform: rotate(0deg);
					}
				}

				> svg {
					background: #1e072c;
					padding: 8px;
					border-radius: 4px;

					path {
						stroke: #fff;
					}
				}
			}
		}
	}

	.input-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #1e072c;
		box-shadow: #180d33 0 0 20px;
		padding: 16px 12px;
		border-radius: 8px;

		> .input {
			display: flex;
			align-items: center;
			gap: 5px;
			width: 90%;
			svg {
				path {
					fill: #fff;
				}
			}

			> input {
				background: none;
				border: none;
				outline: none;
				color: #fff;
				width: 100%;

				&::placeholder {
					font-size: 13px;
					font-family: inherit;
					color: rgb(255, 255, 255);
				}
			}
		}

		> svg {
			&:active {
				path {
					fill: #926eee;
				}
			}
			&:hover {
				path {
					fill: #926eee;
				}
			}
			path {
				transition: all 0.3s ease-in-out;
				fill: rgb(255, 255, 255);
			}
		}
	}
}

.manual {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	backdrop-filter: blur(2px);
	z-index: -9;
	opacity: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	transition: all 0.3s ease-in-out;

	&.hide {
		z-index: 99;
		opacity: 1;
	}

	.manual-pop {
		margin: 30% auto;
		padding: 12px;
		gap: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 83vw;
		height: max-content;
		border-radius: 8px;
		z-index: 99;
		right: 0;
		background-color: #1e072c;

		.close-manual {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;

			svg {
				background-color: #14051d;
				border-radius: 4px;
				padding: 3px;

				path {
					fill: #fff;
				}
			}

			span {
				font-size: 16px;
				font-weight: 600;
			}
		}

		p {
			font-size: 13px;
			line-height: 17px;
			font-weight: 400;
			padding: 0;
			margin: 0;
			color: #ffffff;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 12px;

			> input {
				border: 1px solid #c5b0fc;
				background: none;
				color: #fff;
				padding: 8px 12px;
				border-radius: 4px;
				outline: none;
				z-index: 1;
				transition: all 0.3s ease-in-out;

				&::placeholder {
					text-transform: capitalize;
					font-size: 11px;
					color: #ffffff;
					font-weight: 400;
				}

				&:focus {
					border: 1px solid #926eee;
				}
			}
			> textarea {
				border: 1px solid #c5b0fc;
				background: none;
				padding: 8px 12px;
				border-radius: 4px;
				outline: none;
				z-index: 1;
				transition: all 0.3s ease-in-out;

				&::placeholder {
					text-transform: capitalize;
					font-size: 11px;
					color: #ffffff;
					font-weight: 400;
				}

				&:focus {
					border: 1px solid #926eee;
				}
			}

			button {
				padding: 12px 20px;
				border: none;
				background: #926eee;
				color: #ffffff;
				border-radius: 4px;
			}
		}
	}
}

/* styles.css */
.chat-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.message-list {
	list-style-type: none;
	padding: 0;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.user-message {
	align-self: flex-end;
	background-color: blue;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.gpt-message {
	align-self: flex-start;

	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
