@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// color accent == #a888f9
body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	background-color: #0a020f;
	color: #fff;
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Montserrat', sans-serif;
}
